
/* header start */
  .top-banner{
     
      background: #264653;
      
  }
  .navigation{
    background-color: #264653;
    width: 83%;
    margin: auto;
    
  }
  .bike-img{
      width: 100%;
  }
/* header ends */
/* Fetured Bikes start */
.grayscale{
   filter: grayscale(1); 
}

.hr-style{
    width: 150px;
    margin: auto;
    border: 10px solid wheat;
     border: none; 
}
.text-style{
    color:  #E76F51;
}
/* Fetured Bikes ends */
 
 /* Happy Clients says start */
    
    span{
        color: #E76F51;
    }
    .icon{
        display: flex;
        justify-content: center;
    }
    .icon-style{
        color: goldenrod;
        width: 25px;
    }
  /* Happy Clients says ends */
 
  /* contact me start */
    .contact{
      
     background:#264653;
    }

    /* contact me ends */

     /* fotter start  */
   .bg-color{
  
    background: #056676;
  
} 

footer i:hover{
      transform: scale(1.2);
      transition: transform ease-in 2s;
   
}

/* fotter ends  *
